<% if (blogs.length >0 ) { %>
    <% blogs.forEach(blogs => { %>
        <h3>
            <%= blogs.title %>
        </h3>
        <p>
            <%= blogs.content %>
        </p>
        <% }) %>
            <% } %>