<nav>
    <div>
        <h1>許雅筑的個人介紹</h1>
        <a href="/">
            <p>南台資工四甲</p>
        </a>
    </div>
    <ul>
        <li><a href="https://syuuuu.github.io/syuuuu/">回首頁</a></li>
    </ul>
</nav>