<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <div>
                <h2>關於南臺科大</h2>
                <p>民國53年，總統府前國策顧問吳三連先生鑒於國家經濟首要之務乃在於人才培植，遂邀請台南地方人士：辛文炳、侯雨利、吳修齊、吳尊賢、吳俊傑、侯永都、陳清曉、莊昇如、陳旗安、張麗堂等政治、經濟、文化知名人士發起創校籌設，以培育工商人才為目標，並以辦理第一流的專科學校為職志。</p>
            </div>
            <%- include("./partials/footer.ejs") %>
    </body>

</html>